body {
  margin: 0;
  width: 100vw;;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
 
  height: 100%;

  justify-content:flex-start;
  align-items: center;

}



.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 2%;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}


.footer {
  grid-area: footer;
  background-color: coral;
  /* Styles for footer */
}

#home {
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin : 0;
  width : 100%;
 
}

#identifier{
 width : 70%;
}
#defaultCanvas0 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom : 50%;
}
#animation.img {
  width: 100%;
}

h1 {
  color: #000;

font-family: Montserrat;

font-style: normal;
font-weight: 800;
line-height: normal;
text-align: left;
margin-top :5%;
margin-bottom : 5%;
}

#identifier > h2 {
  color: rgba(0, 0, 0, 0.53);
  font-family: Lato;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;

}

span.logo {
  font-family: 'Abril Fatface', serif;
  padding : 0 5%;
  
  
}
script,canvas {
  display: block;
}
#identifier > h3 {
  color: #000;
  text-align:left;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

#aboutme {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #068D9D;
  justify-content: center;
  align-items: center;
  color: #ffffff;


}

.desc {
 
  
  display: flex;
  width : 50%;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

} 

#aboutme p{
  
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 250% */
color : #fff;
}

.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #068D9D;
 gap: 0;

 
 
 
}

.collage img {
  width: 270px;
height: 343px;
  object-fit: cover;
  margin : 0;

  

}
a {
  text-decoration: none !important;
  color: #000;
}

/* Apply rotation and z-index to each image */
.collage img:nth-child(1) {
  transform: rotate(24.36deg);
  z-index: 3;
}

.collage img:nth-child(2) {
  transform: rotate(-17.219deg);
  z-index: 2;
}

.collage img:nth-child(3) {
  transform: rotate(3deg);
  z-index: 1;
}
#coding {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap : 5%;
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  
  padding : 5%;
}



.project.featured {
  display : flex;
  flex-direction: row;
  padding : 0;
  margin : 5% 0%;
  gap : 5%;
  
}
.project-desc h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 208.333% */
}
p {
  color: #000;
font-family: Verdana;

font-style: normal;

line-height: 50px; 
}
#projects h2{
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.project.coding{
  display : flex;
  flex-direction: column;
  justify-content : space-between;
  align-items : space-between;
  width : 450px;
  height : 400px;


  padding : 5%;
  margin : 5% 0%;
  gap : 5%;
  background-color:#87CEFA;


} 
.project.coding i {
  font-size: 24px;
} 
.nav-link {
  text-decoration: none;
  color : #000;
} 
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000;
  text-align: center;
  font-family: Montserrat;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
} 
 .nav-tabs .nav-link {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} 
.footer{
  display : flex;
  flex-direction : column; 
  justify-content : space-between;
  align-items : space-between;
  padding : 5% 25%;
  background-color: #068D9D;
  width: 100vw;
  

}
.footer h3{
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer span , .footer a, .footer p{
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .contact{
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
  margin : 5% 0%;
 
}
.pe {
  display : flex;
  flex-direction:column;
  justify-content : flex-start;
  align-items : flex-start;
  gap : 5%;
}
.footer span {
  color: rgba(204, 204, 204, 0.80);
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer a {
  text-decoration: none;

}
.header {
  background: url("Gradient.png"), lightgray 50% / cover no-repeat;
    width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #projects-research {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Align projects to the bottom */
  /* width: 100%;
}*/
.project img {
 
  border : 1px solid #A55B80;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width : 70%;
  margin : 5% 0%;
  height : 100%;

}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width : 70%;



}
.header-content > h1, .header-content > h2, .header-content > h3,.header-content > p , .header-content > span {
  color: #fff;
  
}
.header ul {
  display: flex;
  justify-content: space-between;
  padding : 0;
  list-style-type: none;
  width : 100%;
  margin: 0;
}
.header ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  padding: 2%;
  list-style-type: none;
  color : #fff;
}
.header ul li p {
  color : #fff;
}
.header ul li span {
  color: #FFF;

font-weight: 300;
line-height: normal;
}
.close{
  align-self : flex-start;
  margin:2%;
  color : #fff !important;
  
}
.close:hover{

  text-decoration: underline 1px #fff;
  font-size : 20px;

}
.socials i {
  color : #fff;
  font-size : 20px;
  margin : 0 2%;
}