@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&family=Lustria&display=swap');
body * {
    box-sizing : border-box;
}

body {
    display : flex ;
    flex-direction : column ;
    justify-content: center;
    align-items: center;
    background-image: url(pastelpink.jpg);
    margin : 0;
  
    
}


nav {
    display : flex ;
    flex-direction : row ;
    justify-content : flex-end ;
    height: 10%;
    padding : 20px;
    margin : 0;
    
}
nav ul {

    
    list-style-type : none ;
    display : flex ;
    justify-content: space-between;
 
}
nav ul a {
    text-decoration : none ;
    font-family: 'lustria', serif;
    font : bolder;
    font-size : 20px;
    padding: 10px;
    color :rgb(86, 74, 74);

}
.welcome {
    display : flex ;
    flex-direction : column ;
    align-self: center;
    justify-content: center;

}
h1 {
 font-family: 'Loved by the King', cursive;
    font-size : 72px;
    font-weight: 700;
    margin : 0;
    padding : 0;
}
h1 span {


color :#f59c73;

}

#aboutme {
    display : flex ;
    flex-direction : row;
    width : 100vw;
    height : 100vh;
    align-items: center;
    justify-content: center;

    margin : 0;

} 
#aboutme .text {
    display : flex ;
    flex-direction : column ;
    margin : 20px;

    color :rgb(86, 74, 74);
    
    width :40vw;
}



 #aboutme p {
   font-family: Noto Sans, sans-serif;
    font-size : 20px;
    font-weight: 400;
    line-height: 2.0;
   
    

}



.text .socials {
    display : flex ;
    flex-direction : row ;
    justify-content : flex-start ;
    text-decoration: none;
   
    
}
a {
    text-decoration : none!important; 
    color: rgb(86, 74, 74);
}
a i {
    padding: 20px;
    font-size: 25px;
  
    
}
#aboutme img {
    height: 80%;


}
#links-container{
    display : flex ;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    color : rgb(86, 74, 74);
    width: 100vw;
    text-align: left;
    margin: 0;
}
#links{
    display : flex ;
    flex-direction : row;
    width : 100vw;
     padding : 10px;
    justify-content: center;
    gap : 50px;
    margin: 20px;  
}
#links a {
    display: flex;
    flex-direction: column;
}
h2 {
    
    font-family: noto sans, sans-serif;
    font-size : 50px;
    font-weight: 700;
    margin : 10px;
    padding : 0;
    width:70%;
  

}
#links-container p {
    font-family: noto sans, sans-serif;
    width:70%;
    font-size : 15px;
    font-weight: 400;
    line-height: 2;
   
}


 


#projects-section {
    display : flex ;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
 
    
    
}
#projects-section h2 {
    font-family: comfortaa , sans-serif;
    font-size: 25px;
    margin-left: 30px;
}
#projects-section h3 {
   font-family: comfortaa , sans-serif;
    font-size: 20px;
}
    


.projects{
    display : flex ;
    width : 100%;
    flex-direction : column ;
    align-items: flex-start;
    justify-content: flex-start;
   
    
   
}
.projects .project {

    width : 100%;
    display : flex ;
    flex-direction : column ;
    border-top : rgb(225, 216, 212) solid 1px;
    border-bottom : rgb(225, 216, 212) solid 1px;


}
.project .project-details {
    display : flex ;
    flex-direction : row ;
    justify-content: space-between;
    align-items: center;
    padding : 40px;
    padding-bottom: 0px;
    margin: 0px;

}
.project-details .name {
    font-family: 'lustria', serif;
    font-size: 20px;
    font : bolder;
    color : rgb(0, 0, 0) ;
    display: flex;

}
.project-details .date {
    font-family: 'lustria', serif;
    font-size: 15px;
    color : rgb(0, 0, 0) ;
}


.project .project-description {
    display : flex ;
    width: 100%;
    flex-direction : column ;
    margin-top : 0px;
    padding-left: 30px; 
}
.project-description p {
    font-family: 'lustria', serif;
    font-size: 15px;
    color : rgb(0, 0, 0) ;
    
    margin-top : 0px;
}




 #projects-section #skills {
    display : flex ;
    margin: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

  
}
#skills .skill{
    display : flex ;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: rgb(225, 216, 212) solid 1px;


}
.skill h4 {
    font-family: 'lustria', serif;
    color : rgb(0, 0, 0) ;
    font-size: 15px;
    
}



#contact-footer {
    display : flex ;
    height : 15%;
   
}