
<html>
    <head>
        <title> Mame Coumba KA </title>
        <link href = "/static/styles.css" rel = "stylesheet" >
        <script src="https://kit.fontawesome.com/358d9d2023.js" crossorigin="anonymous" ></script>
    </head>

    <body >
        <div class = "container" >
        <nav >
            <uL>
            <a href = #aboutme> About Me </a>
            <a href = #projects-section> Projects </a>
        
            
            </uL>
        </nav>
        
        <div id = "aboutme">
            <img src = "pp.jpeg">
            <div class = "text">
                <h1> Hi There! </h1>
                <h2> I'm Coumba and I'm studying Computer Science at Northwestern University. </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class = "socials">
                    <a href = https://github.com/coumbaK > <i class="fa-brands fa-github"> </i> </a>
                    <a href = "https://www.linkedin.com/in/mame-coumba-ka/" > <i class="fa-brands fa-linkedin" ></i> </a>

                </div>
            </div>

        </div>
        
        <div id = "projects-section"> 
            <h2> Personal Projects</h2>
            <div class = "projects">
           
                <div class = "project">  
                    <div class = "project-details">
                        <div class = "name">
                            <h4> Reading List App </h4>
                            <a href = "https://github.com/coumbaK/reading_app" > <i class="fa-brands fa-github"> </i></a>
                        </div>
                    <div class = "date">
                        December 2021
                    </div>
                    </div>
                    <div class = "project-description">
                        <p>•  Implemented a CRUD API in Python and Flask to add , update and delete books from a reading list. </p>
                        <p>•  Utilized a database managed in SQL Alchemy to store the reading list elements.</p>
                        <p>•  Designed Front-End in HTML and Tailwind CSS to display the current reading list , recent reads and a form to add new books.</p>

                   
                    </div>
                 </div>

                 <div class = "project">  
                    <div class = "project-details">
                        <div class = "name">
                            <h4> Waitlist Message Bot   </h4>
                            <a href = "https://github.com/coumbaK/reading_app" > <i class="fa-brands fa-github"> </i></a>
                        </div>
                    <div class = "date">
                        March 2022
                    </div>
                    </div>
                    <div class = "project-description">
                        <p>•  Implemented a queue data structure in Python to keep track of a list of people with contact details. </p>
                        <p>•  Integrated an automatic messaging bot using Twilio that alerts the next person in the queue when it is updated. </p>
                        <p>•  Used the Python Flask Framework and HTML and CSS for the GUI.   </p>

                   
                    </div>
                 </div>
                 <div class = "project">  
                    <div class = "project-details">
                        <div class = "name">
                            <h4> Reading List App </h4>
                            <a href = "https://github.com/coumbaK/reading_app" > <i class="fa-brands fa-github"> </i></a>
                        </div>
                    <div class = "date">
                        December 2020
                    </div>
                    </div>
                    <div class = "project-description">
                        <p> •	Implemented a CRUD API in Python and Flask to add , update and delete books from a reading list. </p>
                        <p>•	Utilized a database managed in SQL Alchemy to store the reading list elements.</p>
                        <p>•	Designed Front-End in HTML and Tailwind CSS to display the current reading list , recent reads and a form to add new books.</p>

                   
                    </div>
                 </div>
                 <div class = "project">  
                    <div class = "project-details">
                        <div class = "name">
                            <h4> Reading List App </h4>
                            <a href = "https://github.com/coumbaK/reading_app" > <i class="fa-brands fa-github"> </i></a>
                        </div>
                    <div class = "date">
                        December 2020
                    </div>
                    </div>
                    <div class = "project-description">
                        <p> •	Implemented a CRUD API in Python and Flask to add , update and delete books from a reading list. </p>
                        <p>•	Utilized a database managed in SQL Alchemy to store the reading list elements.</p>
                        <p>•	Designed Front-End in HTML and Tailwind CSS to display the current reading list , recent reads and a form to add new books.</p>

                   
                    </div>
                 </div>
            </div>
            <h2> Skills </h2>
            <div id = "skills"> 
                
                <div class = "skill">
                    <h4> Python </h4>
                </div>
                <div class = "skill">
                    <h4> C++ </h4>
                </div>
                <div class = "skill">
                    <h4> C </h4>
                </div>
                <div class = "skill">
                    <h4> JavaScript </h4>
                </div>
                <div class = "skill">
                    <h4> CSS </h4>
                </div>
                <div class = "skill">
                    <h4>HTML</h4>
                </div>
                <div class = "skill">
                    <h4> GIT </h4>
                </div>
                <div class = "skill">
                    <h4> Linux </h4>
                </div>
                <div class = "skill">
                    <h4> SQL </h4>
                </div>
                <div class = "skill">
                    <h4> PostgreSql </h4>
                </div>
                <div class = "skill">
                    <h4> Flask </h4>
                </div>
                <div class = "skill">
                    <h4> React </h4>
                </div>
                
                

                
                
            </div>
        </div>
        </div>
         
      
           
    


      
    </body>
</html>
